{{#each games as |game|}}
  <section data-id="{{game.id}}" data-name="{{game.name}}" data-comment="{{game.comment}}">
    <h1 data-id="{{game.id}}"> <small>{{game.name}}</small></h1>
      <p>"{{game.comment}}"</p>
        <button id='remove-btn'>Remove</button>
        <button id='update-btn'>Update</button>
      </section>
{{else}}
<div>
  <p>You do not have any games</p>
</div>
{{/each}}
