
{{#each games as |game|}}
  <section data-id="{{game.id}}" data-name="{{game.name}}" data-comment="{{game.comment}}">
    <div class="card bg-light mb-3 game-card">
      <h1 data-id="{{game.id}}"> <small>{{game.name}}</small></h1>
        <p>"{{game.comment}}"</p>
          <button class='game-btn' id='remove-btn'>Remove</button>
          <button class='game-btn' id='update-btn'>Update</button>
    </div>
  </section>
{{else}}
<div>
  <p>You do not have any games</p>
</div>
{{/each}}
